.toolset {
  font-size: 10px;
  width: 20em;
  height: 100%;
  background-color: #e1e1e1;
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  transition: width 500ms;
}
.toolset .expand-collapse {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-size: 1.3em;
  z-index: 1000;
  cursor: pointer;
}
.toolset h2 {
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  padding: 0.7em 0;
  margin: 0;
  white-space: nowrap;
}
.toolset h2 span {
  opacity: 1;
  transition: 500ms;
}
.toolset div.tools {
  padding-bottom: 2em;
}
.toolset div.tool {
  position: relative;
}
.toolset div.tool.active a.tool-link {
  background-color: #aeaeae;
}
.toolset div.tool.active a.tool-link span.arrow {
  opacity: 1;
}
.toolset div.tool.active div.tool-options {
  display: block;
  width: 20em;
  left: -20em;
  background-color: #aeaeae;
  box-shadow: -0.1em 0.2em 0.1em 0em rgba(0, 0, 0, 0.2);
}
.toolset a.tool-link {
  display: block;
  padding: 0.25em;
  white-space: nowrap;
  font-size: 1.5em;
}
.toolset a.tool-link:hover {
  background-color: #d4d4d4;
  text-decoration: none;
  cursor: pointer;
}
.toolset span.arrow {
  opacity: 0;
  padding: 0 0.7em 0 0.25em;
}
.toolset span.label {
  color: #333;
  font-weight: bold;
  opacity: 1;
  transition: opacity 500ms;
}
.toolset i {
  color: #333;
}
.toolset .tool-options {
  position: absolute;
  width: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: width 250ms, left 250ms;
}
.toolset .tool-options a.tool-options-link {
  display: block;
  padding: 0.25em;
  white-space: nowrap;
  font-size: 1.5em;
  background-color: #e1e1e1;
}
.toolset .tool-options a.tool-options-link:hover {
  background-color: #aeaeae;
  text-decoration: none;
  cursor: pointer;
}
.toolset.collapsed {
  width: 5em;
}
.toolset.collapsed h2 span,
.toolset.collapsed a.tool span.label {
  opacity: 0;
}
