<h2>{{title}}</h2>


<div >
  <figure ng-repeat="dog in dogs" class="dog">
    <h2>{{dog.name}}</h2>
    <img src="{{dog.image}}" drag-channel="dog" ui-draggable="true" drag="dog" />
    <figcaption>{{dog.caption}}</figcaption>
  </figure>
</div>


<div class="image-box">
  <div class="row is-table-row">
    <div class="col-md-4">
      <h3>A whole bunch of drugs for pharmaceuticals.</h3>
    </div>
    <div class="col-md-4" ui-on-drop="dropped($event,$data)" drop-channel="dog">
      <ui-view>
      </ui-view>

    </div>
  </div>
</div>
